{% extends "base.html" %}
<!--{% load static %}-->

{% block title %}Publication - {{publication.title}}{% endblock title %}

{% block content %}
    <h2>{{publication.title}}</h2>
    <i>{{publication.date}}</i>
    <br><br>
    <p>{{publication.text|safe}}</p>

    <h5>Комментарии</h5>
    {% for comment in comments %}

        <div class="media">
            {% load static %}<img src= "{% static 'pic.png' %}" class="mr-3" alt="avatar"
                 style="width: 5%">
            <div class="media-body">

                <div class="leftstr">
                    <h5 class="mt-0">{{ comment.name }}</h5>
                </div>

                <div class="rightstr">
                    <i class="mt-0">{{ comment.date }}</i>
                </div>

                <div style="clear: left"></div>

                <p>{{ comment.text}}</p>
            </div>
        </div>
        <div class="line"></div>

    {% endfor %}

    <h5>Оставить новый комментарий</h5>
    <p>
        <form action="/publication/{{ pub_id }}" method="post">
            {% csrf_token %}

            <div class="form-group">
            <label for="exampleInputName">Ваше имя</label>
            <input type="name" name="name" class="form-control" id="exampleInputName" aria-describedby="NameHelp">
            <small id="nameHelp" class="form-text text-muted">Обязательное поле</small>
            </div>

            <div class="form-group">
            <label for="exampleFormControlTextarea">Текст комментария</label>
            <textarea name="text" class="form-control" id="exampleFormControlTextarea" rows="5"
                                                                            placeholder="Что вы хотите сказать?"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-primary">Отправить</button>
         </form>
    </p>


{% endblock content %}